*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*
    border: 1px solid black;

    */
    
}

:root{
    --primary: #2563EB;
    --secondly:black;
    --background: #EEF2F7;
    --surface: #FFFFFF;
    --text: #1E293B;
    --border: #E2E8F0;
    --radius: 16px;
    --spacing: 16px;
}
body{
    background-color: var(--background);
}
header{
    padding: 8px 16px;
}

main{
    display: flex;

}
h2{
    padding: 8px 24px;
    font-size: 30px;
}

aside{
    width: 250px;
    height: 100vh;
}
.profile{
    padding: 8px 8px 0 24px;
    display: flex;
    gap: 16px;
    align-items:center;

}
.profileImage{
    flex-shrink: 0;
    flex-grow: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.profileName{
    display: flex;
    justify-content: start;
    align-items:center;
    flex: auto;
    font-size: 32px;
}

.pageLinks{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}
.pageLinks a{
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 20px;
    padding: 16px;
    border-radius: 16px;
    justify-content: center;
    background-color: var(--surface);
}



.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    gap: 24px;
}
.search{
    display: flex;
    padding:  0     16px;
    gap: 16px;
    justify-content: center;
    align-items: stretch;
    
}
.searchBar{
    padding: 16px;
    width: 70vh;
    border-radius: 16px;
    background-color: var(--surface);
    border: 3px solid var(--border) ;
}

.searchButton{
    border-radius: 16px;
    font-size: larger;
    padding: 16px;
    color: var(--background);
    background-color: var(--secondly);
    overflow: hidden;
    border: 3px solid var(--border);
}



.addButtons{
    display: flex;
    align-items: center;
    margin-left: 16px;
    padding: 16px;
    font-size: large;
    gap: 4px;
    color:var(--background);
    font-weight: 900;
    background-color: var(--primary);
    border-radius: 16px;
    border: 3px solid var(--border);
}


.continueLearningCardArea{
    display: grid;
    padding: 16px;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
}

.continueLearningCard{
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--surface);
    border-radius: 16px;
    padding: 8px;
    color: var(--text);
}

.namePrivew p{
    overflow: hidden;
    padding: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;          
    -webkit-line-clamp: 4;  
}

.noteFooter{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: auto;

}

.categoriesCards{
    display: flex;
    padding: 16px;
    gap: 16px;
}
.categoriesCards button{
    border: 0;
    padding: 16px;
    background-color: var(--surface);
    border-radius: 16px;
    color: var(--text);
    font-size: 16px;
}