*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
}
h2{
    padding: 8px;
}s
aside{
    width: 250px;
    height: 100vh;
}
.profile{
    padding: 8px;
    display: flex;
    gap: 16px;
}
.profileImage{
    flex-shrink: 0;
    flex-grow: 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.profileName{
    display: flex;
    justify-content: center;
    align-items:center;
    flex: auto;
}

.pageLinks{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}
.pageLinks a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.pageLinkCards{
    padding: 16px;
    border-radius: 16px;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    gap: 24px;
}
.search{
    display: flex;
    padding: 16px;
    gap: 16px;
    justify-content: center;
    align-items: stretch;
    
}
.searchBar{
    padding: 16px;
    border-radius: 16px;
}

.searchButton{
    border-radius: 16px;
    font-size: larger;
    padding: 16px;
    overflow: hidden;
}



.addButtons{
    display: flex;
    align-items: center;
    margin: 16px 0;
    padding: 16px;
    gap: 4px;
    border-radius: 16px;
}


.continueLearningCardArea{
    display: grid;
    padding: 16px;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
}
h2{
    padding: 8px;
}
.continueLearningCard{
    height: 150px;
    display: flex;
    flex-direction: column;
}

.namePrivew p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;          
    -webkit-line-clamp: 4;  
}

.noteFooter{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: auto;

}

.categoriesCards{
    display: flex;
    padding: 16px;
    gap: 16px;
}
.categoriesCards button{
    background-color: none;
    border: 0;
    padding: 8px;
    border-radius: 8px;
}